{% extends 'game.html.twig' %}

{% block title %}Ultimate Warfare - Federation bank deposit{% endblock title %}

{% block content %}
    <form method="post" action="{{ path('Game/Federation/Bank/Deposit') }}">
        <table class="table text-center">
            <tr class="tabletop">
                <td colspan="4"><b>Federation bank deposit</b></td>
            </tr>
            <tr>
                <td>Resources</td>
                <td>You</td>
                <td>Bank</td>
                <td>Amount</td>
            </tr>
            <tr>
                <td>Cash:</td>
                <td>$ {{ player.resources.cash }}</td>
                <td>$ {{ federationResources.cash }}</td>
                <td><input type="text" class="form-control" name="resources[cash]"></td>
            </tr>
            <tr>
                <td>Wood:</td>
                <td>{{ player.resources.wood }}</td>
                <td>{{ federationResources.wood }}</td>
                <td><input type="text" class="form-control" name="resources[wood]"></td>
            </tr>
            <tr>
                <td>Steel:</td>
                <td>{{ player.resources.steel }}</td>
                <td>{{ federationResources.steel }}</td>
                <td><input type="text" class="form-control" name="resources[steel]"></td>
            </tr>
            <tr>
                <td>Food:</td>
                <td>{{ player.resources.food }}</td>
                <td>{{ federationResources.food }}</td>
                <td><input type="text" class="form-control" name="resources[food]"></td>
            </tr>
            <tr>
                <td colspan="4">
                    <input class="btn btn-primary" type="submit" name="submit" value="Deposit">
                </td>
            </tr>
        </table>
    </form>
{% endblock %}
