{% extends 'admin.html.twig' %}

{% block title %}ADMIN - User list{% endblock title %}

{% block content %}
    <p class="text-center btn-group">
        <a href="{{ path('Admin/User/List') }}" class="btn btn-primary {{ app.request.get('filter') == '' ? 'active' : '' }}">All</a>
        <a href="{{ path('Admin/User/List', {'filter': 'active'}) }}" class="btn btn-primary {{ app.request.get('filter') == 'active' ? 'active' : '' }}">Active</a>
        <a href="{{ path('Admin/User/List', {'filter': 'disabled'}) }}" class="btn btn-primary {{ app.request.get('filter') == 'disabled' ? 'active' : '' }}">Disabled</a>
        <a href="{{ path('Admin/User/List', {'filter': 'banned'}) }}" class="btn btn-primary {{ app.request.get('filter') == 'banned' ? 'active' : '' }}">Banned</a>
    </p>
    <table class="table text-center">
        <tr class="tabletop">
            <td colspan="8"><b>User list</b></td>
        </tr>
        <tr>
            <td width="150">Username</td>
            <td width="450">Email</td>
            <td width="50">Enabled</td>
            <td width="450">Players</td>
            <td width="450">Signup</td>
            <td width="450">LastLogin</td>
            <td width="100">Action</td>
        </tr>
        {% for user in users %}
            <tr>
                <td>
                    {{ user.username }}
                </td>
                <td>
                    {{ user.email }}
                </td>
                <td>
                    {% if user.enabled == 1 %}
                        <span class="good">Yes</span>
                    {% else %}
                        <span class="bad">No</span>
                    {% endif %}
                </td>
                <td>
                    {% for player in user.players %}
                        <p>
                            {{ player.name }} ({{ player.world.name }})
                        </p>
                    {% endfor %}
                </td>
                <td>
                    {{ user.signup|date("Y-m-d H:i:s") }}
                </td>
                <td>
                    {% if user.lastLogin is not null %}
                        {{ user.lastLogin|date("Y-m-d H:i:s") }}
                    {% endif %}
                </td>
                <td>
                    <a class="btn btn-primary" href="{{ path('Admin/User/Read', {'userId': user.id}) }}">View</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">No users....</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
