{% extends 'site.html.twig' %}

{% block title %}Ultimate Warfare - Chat{% endblock title %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('css/chat.css') }}" />
{% endblock stylesheets %}

{% block content %}
    Chat server status: <button id="chat-status" class="btn btn-inverse">Offline</button>

    <div class="container">
        <section id="chat">
            <div id="chat-room">
                <div class="row">
                    <div id="list" class="col-lg-12 col-md-12 col-sm-12 rounded message-list chatWindow"></div>
                </div>
                <form id="textbox">
                    <div class="row">
                        {% if userId == 0 %}
                            <a class="B" href="{{ path('Site/Login') }}">Click here to login</a> You are only able to read chat as guest<br /><br />
                        {% else %}
                            <div class="col-lg-9 col-md-9 col-sm-9">
                                <input id="message-box" class="form-control" placeholder="Type here..."/>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <button id="send" type="button" class="btn btn-lg btn-block btn-primary">Send</button>
                            </div>
                        {% endif %}

                    </div>
                </form>
            </div>

        </section>
    </div>
    <script type="text/javascript">
        let socketHost = '{{ websocketServerHost }}';
        let socketPort = '{{ websocketServerPort }}';
        let id = {{ userId }};
    </script>
    <script src="{{ asset('js/chat.js') }}"></script>
{% endblock %}
