{% extends 'site.html.twig' %}
{% block title %}
    Ultimate Warfare - Chat
{% endblock title %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('css/jquery.jscrollpane.css') }}" />
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('css/uw_chat.css') }}" />
{% endblock stylesheets %}

{% block content %}
    {% if isGuest == true %}
        Your chat name is {{ chatName }}. <a class="B" href="{{ path('Site/Login') }}">Click here to login</a> and use your username as chat name<br /><br />
    {% endif %}
    <table class="table text">
        <tr>
            <td colspan="2" class="tabletop text-center"><b>Ultimate Warfare Chat</b></td>
        <tr>
            <td>

                <div id="chatBlock">

                    <div id="chatTextBlock"></div>

                    <div id="chatUserBlock"></div>
                    <div id="chatBottomBar">
                        <form id="submitForm" method="post" action="">
                            <input id="chatText" name="chatText" maxlength="255" autocomplete="off"/>
                            <span class="submit"><input class="btn btn-primary" type="submit" value="Send" /></span>
                        </form>
                    </div>
                </div>

            </td>
        </tr>
    </table>

    <script src="{{ asset('js/jquery.mousewheel.3.0.6.min.js') }}"></script>
    <script src="{{ asset('js/jquery.jscrollpane.min.js') }}"></script>
    <script src="{{ asset('js/uw_chat.js') }}"></script>
{% endblock %}
