{% extends 'site.html.twig' %}

{% block title %}Ultimate Warfare - Chat{% endblock title %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('css/jquery.jscrollpane.min.css') }}" />
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('css/uw_chat.css') }}" />
{% endblock stylesheets %}

{% block content %}
    {% if isGuest == true %}
        Your chat name is {{ chatName }}. <a class="B" href="{{ path('Site/Login') }}">Click here to login</a> and use your username as chat name<br /><br />
    {% endif %}
    <div class="container">
        <div class="row">
            <h3>Chat</h3>
        </div>
        <div class="row">
            <div id="chatTextBlock" class="col-sm-9 table"></div>
            <div id="chatUserBlock" class="col-sm-3 table justify-content-center d-none d-md-block"></div>
        </div>
        <div class="row">
            <div id="chatBottomBar">
                <form id="submitForm" method="post" action="">
                    <input id="chatText" name="chatText" maxlength="255" autocomplete="off"/>
                    <span class="submit"><input class="btn btn-primary" type="submit" value="Send" /></span>
                </form>
            </div>
        </div>
    </div>

    <script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ asset('js/jquery.mousewheel.3.1.13.min.js') }}"></script>
    <script src="{{ asset('js/jquery.jscrollpane.2.2.1.min.js') }}"></script>
    <script src="{{ asset('js/uw_chat.js') }}"></script>
{% endblock %}
