{% extends 'site.html.twig' %}

{% block title %}Ultimate Warfare - Contact{% endblock title %}

{% block content %}
    <table class="table text-center">
        <tr class="tabletop">
            <td><b>Contact</b></td>
        </tr>
        <tr>
            <td>
                <p>
                    I would like to hear what you think. Send me a message, whether it is praise or criticism, a question, a suggestion, or just a hello.
                </p>

                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </td>
        </tr>
    </table>

    <script type="text/javascript">
        var gg_recaptcha_site_key = '{{ gg_recaptcha_site_key }}';
    </script>
    <script src="{{ asset('js/recaptcha.js') }}"></script>
    <script type="text/javascript" src="https://www.google.com/recaptcha/api.js?onload=onGoogleReCaptchaLoad&render=explicit"></script>

{% endblock %}
