{% extends 'site.html.twig' %}
{% block content %}
    <table class="table text text-center">
        <tr class="tabletop">
            <td colspan="4"><b>Federation Hall of Fame</b></td>
        </tr>
        <tr>
            <td width="70"><b>Rank</b></td>
            <td width="390"><b>Federation Name</b></td>
            <td width="110"><b>Regions</b></td>
            <td width="130"><b>Networth</b></td>
        </tr>

        {% for federation in federations %}
            <tr>
                <td>
                    {{ loop.index }}
                </td>
                <td>
                    {{ federation.federation }}
                </td>
                <td>
                    {{ federation.regions }}
                </td>
                <td>
                    {{ federation.networth }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">No history available</td>
            </tr>
        {% endfor %}
    </table>
    <br />
    <br />

    <table class="table text text-center">
        <tr class="tabletop">
            <td colspan="4"><b>Player Hall of Fame</b></td>
        </tr>
        <tr>
            <td width="70"><b>Rank</b></td>
            <td width="350"><b>Player</b></td>
            <td width="130"><b>Regions</b></td>
            <td width="150"><b>Networth</b></td>
        </tr>
        {% for player in players %}
            <tr>
                <td>
                    {{ loop.index }}
                </td>
                <td>
                    {{ player.playerName }}
                </td>
                <td>
                    {{ player.regions }}
                </td>
                <td>
                    {{ player.networth }}
                </td>
            </tr>

        {% else %}
            <tr>
                <td colspan="4">No history available</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
