{% extends 'site.html.twig' %}

{% block title %}Ultimate Warfare - Login{% endblock title %}

{% block content %}
    {% trans_default_domain 'login' %}

    {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    <div class="uw-div">
        <div class="uw-div-top">
            <h3 class="text-center">Login</h3>
        </div>

        <form class="form-horizontal" role="form" method="post" action="{{ path("Site/LoginCheck") }}">
            <div class="mb-3">
                <label for="username" class="form-label">{{ 'label.username'|trans }}</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required"
                       class="form-control"/>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">{{ 'label.password'|trans }}</label>
                <input autocomplete="off" type="password" id="password" name="_password" required="required"
                       class="form-control"/>
            </div>
            <div class="mb-3">
                <input class="form-check-input" type="checkbox" value="" id="remember_me"/>
                <label class="form-check-label" for="remember_me">{{ 'label.remember_me'|trans }}</label>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
            <button type="submit" class="btn btn-primary btn-block">{{ 'label.login'|trans }}</button>
        </form>
    </div>

    <br/>
    <br/>

    <p class="text-center">
        <a class="B" href="{{ url('Site/ResetPassword') }}">{{ 'label.lost_password'|trans({}, 'login') }}</a>
    </p>
{% endblock %}
