<ul class="nav flex-column">
        <li class="nav-item">
                <a class="nav-link" href="{{ path('Site/Homepage') }}" title="Ultimate Warfare - Home">{{ 'label.home'|trans({}, 'navigation') }}</a>
        </li>
        <li class="nav-item">
                <a class="nav-link" href="{{ path('Site/Login') }}" title="Ultimate Warfare - Login">{{ 'label.login'|trans({}, 'navigation') }}</a>
        </li>
        <li class="nav-item">
                <a class="nav-link" href="{{ path('Site/Register') }}" title="Ultimate Warfare - Register free account">{{ 'label.register'|trans({}, 'navigation') }}</a>
        </li>
        {% if uw_forum_enabled == true %}
                <li class="nav-item">
                        <a class="nav-link" href="{{ path('Forum') }}" title="Ultimate Warfare - Forum">{{ 'label.forum'|trans({}, 'navigation') }}</a>
                </li>
        {% endif %}
        <li class="nav-item">
                <a class="nav-link" href="{{ path('Guide') }}" title="Ultimate Warfare - Guide/FAQ">{{ 'label.guide'|trans({}, 'navigation') }}</a>
        </li>
        <li class="nav-item text2">
                {{ 'another_language'|trans({}, 'navigation') }}<br />
                <a href="{{ path('Site/Homepage', {'_locale': 'nl'}) }}">
                        <img src="{{ asset('images/flag/nl.svg') }}" alt="Dutch Version" height="25" width="40" />
                </a>
                <a href="{{ path('Site/Homepage', {'_locale': 'en'}) }}">
                        <img src="{{ asset('images/flag/en.svg') }}" alt="English Version" height="25" width="40" />
                </a>
        </li>
</ul>
