{% extends 'site.html.twig' %}

{% block title %}Ultimate Warfare - Register{% endblock title %}

{% block content %}
    <div class="uw-div">
        <div class="uw-div-top">
            <h3 class="text-center">Register Account</h3>
        </div>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}

        <p>
            An email with an activation code will be sent to the email address you register, so make sure you enter a correct address.
        </p>
    </div>

    <script type="text/javascript">
        var gg_recaptcha_site_key = '{{ gg_recaptcha_site_key }}';
    </script>
    <script src="{{ asset('js/recaptcha.js') }}"></script>
    <script type="text/javascript" src="https://www.google.com/recaptcha/api.js?onload=onGoogleReCaptchaLoad&render=explicit"></script>
{% endblock %}
