{% extends 'site.html.twig' %}

{% block title %}
    Ultimate Warfare - New password
{% endblock title %}

{% block content %}
    <br/>

    <fieldset>
        <legend>New password</legend>

        {{ form_start(form, {'method': 'post', 'action': path('User/Password/Reset', {'token': token}), 'attr': {'class': 'register'}}) }}
        <div>
            {{ form_errors(form) }}
        </div>

        {{ form_row(form.plainPassword.first) }}
        <br />
        {{ form_row(form.plainPassword.second) }}
        <br />

        {{ form_rest(form) }}

        <div class="submit">
            <input type="submit" name="submit" value="Change password"/>
        </div>

        {{ form_end(form) }}
    </fieldset>
{% endblock %}
