{% extends 'game.html.twig' %}

{% block title %}Ultimate Warfare - Attack from?{% endblock title %}

{% block content %}
    <table class="table text-center">
        <tr class="tabletop">
            <td colspan="3"><b>Region</b></td>
        </tr>
        <tr>
            <td rowspan="3" width="120">
                <img src="{{ asset('images/map/' ~ region.type ~ '.jpg') }}" alt="Region {{ region.id }}" width="120" height="100"><br />
            </td>
            <td width="300">Location:</td>
            <td width="280">{{ region.x }}, {{ region.y }}</td>
        </tr>
        <tr>
            <td width="300">Owner:</td>
            {% if region.player is not null %}
                <td width="280"><a class="B" href="{{ path('Game/Profile', {'playerName': region.player.name}) }}">{{ region.player.name }}</a></td>
            {% else %}
                <td width="280">Nobody</td>
            {% endif %}
        </tr>
        <tr>
            <td width="300">Space:</td>
            <td width="280">
                {{ region.space }}
            </td>
        </tr>
    </table>

    <br />
    <br />

    <table class="table text-center">
        <tr class="tabletop">
            <td colspan="3"><b>Attack from...</b></td>
        </tr>

        {% for playerRegion in playerRegions %}
            <tr>
                <td width="120">
                    <img src="{{ asset('images/map/' ~ playerRegion.region.type ~ '.jpg') }}" alt="Region {{ playerRegion.region.id }}" width="120" height="100">
                </td>
                <td class="text-start" width="370">
                    <ul>
                        <li>Position: {{ playerRegion.region.x }}, {{ playerRegion.region.y }}</li>
                        <li>Travel time to target: {{ playerRegion.travelTime }}</li>
                        <li>
                            <a class="B" href="{{ path('Game/World/Region/AttackSelectGameUnits', {'regionId': region.id, 'playerRegionId': playerRegion.region.id}) }}">Attack</a> with this region.
                        </li>
                    </ul>
                </td>
                <td class="text-start" width="210">
                    {% for regionUnit in playerRegion.region.worldRegionUnits %}
                        {% if regionUnit.amount > 1 %}
                            {{ regionUnit.amount }} {{ regionUnit.gameUnit.nameMulti }}<br />
                        {% else %}
                            {{ regionUnit.amount }} {{ regionUnit.gameUnit.name }}<br />
                        {% endif %}
                    {% else %}
                        No units stationed here!
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
