{% extends 'game.html.twig' %}

{% block title %}Ultimate Warfare - Attack{% endblock title %}

{% block content %}
    <form method="post" action="{{ path('Game/World/Region/AttackSelectGameUnits', {'regionId': region.id, 'playerRegionId': playerRegion.id}) }}">
        <table class="table text-center">
            <tr class="tabletop">
                <td colspan="4"><b>Send units</b></td>
            </tr>
            <tr>
                <td></td>
                <td>Unit</td>
                <td>You have</td>
                <td>Amount</td>
            </tr>
            {% for gameUnit in gameUnitType.gameUnits %}
                <tr>
                    <td width="150">
                        <img src="{{ asset('images/' ~ gameUnitType.imageDir ~ gameUnit.image) }}" alt="{{ gameUnit.name }}" width="150" height="130">
                    </td>
                    <td width="150">
                        <a class="B" href="{{ path('Guide/GameUnit', {'gameUnitId': gameUnit.id}) }}"
                           target="_blank" title="Information about {{ gameUnit.name }}" tabIndex="-1">
                            <b>{{ gameUnit.name }}</b>
                        </a>
                    </td>
                    <td width="100">
                        {% if gameUnitsData[gameUnit.id] is defined and gameUnitsData[gameUnit.id] > 0 %}
                            {{ gameUnitsData[gameUnit.id] }}
                        {% else %}
                            0
                        {% endif %}
                    </td>
                    <td width="200">
                        <input type="text" size="12" name="units[{{ gameUnit.id }}]"/>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="4">
                    <input class="btn btn-primary" type="submit" name="submit" value="Attack">
                </td>
            </tr>
        </table>
    </form>
{% endblock %}
