{% extends 'game.html.twig' %}

{% block title %}Ultimate Warfare - Build region{% endblock title %}

{% block content %}
    Go to: <a class="B" href="{{ path('Game/World/Region', {'regionId': region.id}) }}">Region</a>
    {% for gameUnitType in gameUnitTypes %}
        - <a class="B" href="{{ path('Game/World/Region/RemoveGameUnits', {'regionId': region.id, 'gameUnitTypeId': gameUnitType.id}) }}">{{ gameUnitType.name }}</a>
    {% endfor %}

    <form method="post" action="{{ path('Game/World/Region/RemoveGameUnits', {'regionId': region.id, 'gameUnitTypeId': gameUnitType.id}) }}">
        <table class="table text-center">
            <tr class="tabletop">
                <td colspan="4"><b>Destroy Units</b></td>
            </tr>
            <tr>
                <td></td>
                <td>Unit</td>
                <td>You have</td>
                <td>Amount</td>
            </tr>
            {% for gameUnit in gameUnitType.gameUnits %}
                <tr>
                    <td width="150">
                        <img src="{{ asset('images/' ~ gameUnitType.imageDir ~ gameUnit.image) }}" alt="{{ gameUnit.name }}" width="150" height="130">
                    </td>
                    <td width="150">
                        <a class="B" href="{{ path('Guide/GameUnit', {'gameUnitId': gameUnit.id}) }}" target="_blank" title="Information about {{ gameUnit.name }}" tabIndex="-1">
                            <b>{{ gameUnit.name }}</b>
                        </a><br />
                    </td>
                    <td width="100">
                        {% if gameUnitData[gameUnit.id] is defined and gameUnitData[gameUnit.id] > 0 %}
                            {{ gameUnitData[gameUnit.id] }}
                        {% else %}
                            0
                        {% endif %}
                    </td>
                    <td width="200">
                        <input type="text" size="12" name="destroy[{{ gameUnit.id }}]" />
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">No Units in the UW database!</td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="4">
                    <input class="btn btn-primary" type="submit" name="submit" value="Destroy">
                </td>
            </tr>
        </table>
    </form>
{% endblock %}
