{% extends 'game.html.twig' %}

{% block title %}Ultimate Warfare - Message read{% endblock title %}

{% block content %}
    <p class="text-center">
        <a class="B" href="{{ path('Game/Message/Inbox') }}">Inbox</a> -
        <a class="B" href="{{ path('Game/Message/Outbox') }}">Outbox</a> -
        <a class="B" href="{{ path('Game/Message/New') }}">New message</a>
    </p>

    <table class="table text-start">
        <tr class="tabletop">
            <td>
                <b>
                    {% if message.adminMessage == 1 %}
                        <span style="color:#CC0000"><b>ADMIN:</b></span>
                    {% endif %}
                    {{ message.subject }}
                </b>
            </td>
        </tr>
        <tr>
            <td>
                <div class="pm_date">
                    From {{ message.fromPlayer.name }} on {{ message.timestamp|date }}
                </div>
                {{ message.message }}
                <br />
                <br />
            </td>
        </tr>
    </table>
    Options:
    <a class="B" href="{{ path('Game/Message/New', {'playerName': message.fromPlayer.name}) }}">Send Reply</a> -
    <a class="B" href="{{ path('Game/Message/Inbox/Delete', {'messageId': message.id}) }}">Delete</a>

{% endblock %}
