{% extends 'game.html.twig' %}

{% block title %}Ultimate Warfare - Message inbox{% endblock title %}

{% block javascripts %}
    <script src="{{ asset('js/messages.js') }}"></script>
{% endblock javascripts %}

{% block content %}
    <p class="text-center">
        <a class="B" href="{{ path('Game/Message/Inbox') }}">Inbox</a> -
        <a class="B" href="{{ path('Game/Message/Outbox') }}">Outbox</a> -
        <a class="B" href="{{ path('Game/Message/New') }}">New message</a>
    </p>

    <form method="post" action="{{ path('Game/Message/Inbox') }}">
    <table class="table text-center">
        <tr class="tabletop">
            <td class="text-left" width="400"><b>Subject</b></td>
            <td width="200">From</td>
            <td width="100">Date:</td>
        </tr>

        {% for message in messages %}
            <tr>
                <td class="text-left">
                    <input type="checkbox" name="selected_messages[]" value="{{ message.id }}">
                    {% if message.toStatus == 0 %}
                        <img src="{{ asset('images/icons/pm_new.png') }}" width="17" height="15" alt="New message">
                    {% elseif message.toStatus == 1 %}
                        <img src="{{ asset('images/icons/pm_read.png') }}" width="17" height="15" alt="Read message">
                    {% elseif message.toStatus == 2 %}
                        <img src="{{ asset('images/icons/pm_reply.png') }}" width="17" height="15" alt="Message replied">
                    {% endif %}
                    <a class="B" href="{{ path('Game/Message/Inbox/Read', {'messageId': message.id}) }}">
                        {% if message.adminMessage == 1 %}
                            <span style="color:#CC0000"><b>ADMIN:</b></span>
                        {% endif %}
                        {{ message.subject|escape }}
                    </a>
                </td>
                <td>
                    {{ message.fromPlayer.name }}
                </td>
                <td>
                    {{ message.timestamp|date }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">
                    No messages
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td class="text-left" colspan="3">
                <input type="checkbox" onclick="selectAll(this.form, this.checked)"><b>Select All</b>  Options: <input class="btn btn-primary" type="submit" name="del" value="Delete Selected" />
            </td>
        </tr>
    </table>
    </form>
{% endblock %}
