{% extends 'game.html.twig' %}

{% block title %}Ultimate Warfare - New message{% endblock title %}

{% block content %}
    <p class="text-center">
        <a class="B" href="{{ path('Game/Message/Inbox') }}">Inbox</a> -
        <a class="B" href="{{ path('Game/Message/Outbox') }}">Outbox</a> -
        <a class="B" href="{{ path('Game/Message/New') }}">New message</a>
    </p>

    <form method="post" action="{{ path('Game/Message/New') }}" >

    <table class="table text-center">
        <tr>
            <td width=150>To:</td>
            <td width=550><input type='text' value='{{ toPlayerName }}' name='toPlayerName' size='12' /></td>
        </tr>
        <tr>
            <td width="150">Subject:</td>
            <td width="550"><input name="subject" type="text" size="12" value="{{ subject }}"></td>
        </tr>
        {% if is_granted('ROLE_ADMIN') %}
            <tr>
                <td width="150">Admin message:</td>
                <td width="550">
                    <select name="admin">
                        <option value="0">No</option>
                        <option value="1">Yes</option>
                    </select>
                </td>
            </tr>
        {% endif %}
        <tr>
            <td colspan="2">
                <textarea name="message" cols="60" rows="10" >{{ message }}</textarea>
                <br>
                <input class="btn btn-primary" type="submit" name="submit" value="Send">
            </td>
        </tr>
    </table>
    </form>
{% endblock %}
