{% extends 'game.html.twig' %}

{% block title %}
    Ultimate Warfare - Message outbox read
{% endblock title %}

{% block content %}
    <p class="text-center">
        <a class="B" href="{{ path('Game/Message/Inbox') }}">Inbox</a> -
        <a class="B" href="{{ path('Game/Message/Outbox') }}">Outbox</a> -
        <a class="B" href="{{ path('Game/Message/New') }}">New message</a>
    </p>

    <table class="table text text-left">
        <tr>
            <td class="tabletop">
                <b>
                    {% if message.adminMessage == 1 %}
                        <span style="color:#CC0000"><b>ADMIN:</b></span>
                    {% endif %}
                    {{ message.subject|escape }}
                </b>
            </td>
        </tr>
        <tr>
            <td>
                <div class="pm_date">
                    To {{ message.toPlayer.name|escape }} on {{ message.timestamp|date }}
                </div>
                {{ message.message|escape }}
                <br />
                <br />
            </td>
        </tr>
    </table>
    Options:
    <a class="B" href="{{ path('Game/Message/New', {'playerName': message.toPlayer.name}) }}">Send new message</a> -
    <a class="B" href="{{ path('Game/Message/Outbox/Delete', {'messageId': message.id}) }}">Delete</a>
{% endblock %}
