{% extends 'game.html.twig' %}

{% block title %}Ultimate Warfare - Message outbox{% endblock title %}

{% block javascripts %}
    <script src="{{ asset('js/messages.js') }}"></script>
{% endblock javascripts %}

{% block content %}
    <p class="text-center">
        <a class="B" href="{{ path('Game/Message/Inbox') }}">Inbox</a> -
        <a class="B" href="{{ path('Game/Message/Outbox') }}">Outbox</a> -
        <a class="B" href="{{ path('Game/Message/New') }}">New message</a>
    </p>

    <form method="post" action="{{ path('Game/Message/Outbox') }}">
    <table class="table text-center">
        <tr class="tabletop">
            <td width="400">Subject</td>
            <td width="200">To</td>
            <td width="100">Date:</td>
        </tr>

        {% for message in messages %}
            <tr>
                <td class="text-left">
                    <input type="checkbox" name="selected_messages[]" value="{{ message.id }}">
                    <a class="B" href="{{ path('Game/Message/Outbox/Read', {'messageId': message.id}) }}">
                        {% if message.adminMessage == 1 %}
                            <span style="color:#CC0000"><b>ADMIN:</b></span>
                        {% endif %}
                        {{ message.subject|escape }}
                    </a>
                </td>
                <td>
                    {{ message.toPlayer.name }}
                </td>
                <td>
                    {{ message.timestamp|date }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">
                    No messages
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td class="text-left" colspan="3">
                <input type="checkbox" onclick="selectAll(this.form, this.checked)">Select All <input class="btn btn-primary" type="submit" name="del" value="Delete Selected" />
            </td>
        </tr>
    </table>
    </form>
{% endblock %}
