{% extends 'game.html.twig' %}

{% block title %}Ultimate Warfare - Federation{% endblock title %}

{% block content %}
    <table class="table text-center">
        <tr class="tabletop">
            <td colspan="4"><b>{{ federation.name }}</b></td>
        </tr>
        <tr class="tabletop">
            <td width="240">Name</td>
            <td width="130">Rank</td>
            <td width="110">Regions</td>
            <td width="120">Networth</td>
        </tr>

        {% for federationPlayer in federation.players %}
            <tr>
                <td>
                    <a class="B" href="{{ path('Game/Profile', {'playerName': federationPlayer.name}) }}">{{ federationPlayer.name }}</a>
                </td>
                <td>
                    {{ federationPlayer.federationHierarchy }}
                </td>
                <td>
                    {{ federationPlayer.regions }}
                </td>
                <td>
                    {{ federationPlayer.networth }}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
