{% extends 'game.html.twig' %}

{% block title %}Ultimate Warfare - Join Federation{% endblock title %}

{% block content %}
    <table class="table text-center">
        <tr class="tabletop">
            <td colspan="7"><b>Federations</b></td>
        </tr>
        <tr>
            <td width="50">Rank</td>
            <td width="220">Name</td>
            <td width="120">Owner</td>
            <td width="50">Players</td>
            <td width="80">Regions</td>
            <td width="80">NetWorth</td>
            <td width="80">Application</td>
        </tr>

        {% for federation in federations %}
            <tr>
                <td>
                    {{ loop.index }}
                </td>
                <td>
                    <a class="B" href="{{ path('Game/Federation/Show', {'federationId': federation.id}) }}"><b>{{ federation.name }}</b></a>
                </td>
                <td>
                    {{ federation.founder.name }}
                </td>
                <td>
                    {{ federation.players|length }}
                </td>
                <td>
                    {{ federation.regions }}
                </td>
                <td>
                    {{ federation.netWorth }}
                </td>
                <td>
                    <a class="B" href="{{ path('Game/Federation/Application/Send', {'federationId': federation.id}) }}"><b>Send Application</b></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">No Federations in this world yet!</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
