{% extends 'game.html.twig' %}

{% block title %}
    Ultimate Warfare - Join Federation
{% endblock title %}

{% block content %}
    <table class="table text text-center">
        <tr>
            <td class="tabletop"><b>Federations</b></td>
        </tr>
        <tr>
            <td>
                <p>
                    <b>Adviser:</b>
                </p>
                <p>
                    Welcome <strong>{{ player.name }}</strong>,<br />
                    You will see a list of all Federations here. Send an application to join a Federation
                </p>
            </td>
        </tr>
    </table>

    <br />
    <br />

    <table class="table text text-center">
        <tr>
            <td class="tabletop" colspan="7"><b>Federations</b></td>
        </tr>
        <tr>
            <td width="50">Rank</td>
            <td width="220">Name</td>
            <td width="120">Owner</td>
            <td width="50">Players</td>
            <td width="80">Regions</td>
            <td width="80">Networth</td>
            <td width="80">Application</td>
        </tr>

        {% for federation in federations %}
            <tr>
                <td>
                    {{ loop.index }}
                </td>
                <td>
                    <a class="B" href="{{ path('Game/Federation/Show', {'federationId': federation.id}) }}"><b>{{ federation.name }}</b></a>
                </td>
                <td>
                    {{ federation.founder.name }}
                </td>
                <td>
                    {{ federation.players|length }}
                </td>
                <td>
                    {{ federation.regions }}
                </td>
                <td>
                    {{ federation.networth }}
                </td>
                <td>
                    <a class="B" href="{{ path('Game/Federation/Application/Send', {'federationId': federation.id}) }}"><b>Send Application</b></a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
