<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a class="nav-link" href="{{ path('Admin') }}">Dashboard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('Admin/User/List') }}">User list</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('Admin/World/List') }}">World list</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('Admin/Contact/List') }}">Contact list</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('Admin/UnbanRequest/List') }}">Unban requests</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('Admin/GameNews/List') }}">Game news</a>
    </li>
</ul>
