<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a class="nav-link" href="{{ path('Admin') }}">Dashboard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('Admin/User/List') }}">User list</a>
        <ul>
            <li><a class="nav-link" href="{{ path('Admin/User/DisabledOrBanned') }}">Banned/Disabled</a></li>
        </ul>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('Admin/World/List') }}">World list</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('Admin/Contact/List') }}">Contact list</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('Admin/UnbanRequest/List') }}">Unban requests</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('Admin/GameNews/List') }}">Game news</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('Admin/GameUnit/List') }}">Game units</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('Admin/ServerLogs') }}">Server Logs</a>
    </li>
</ul>
