{% extends 'noBarBase.html.twig' %}

{% block title %}Ultimate Warfare - Account{% endblock title %}

{% block content %}
    <table class="table text-center">
        <tr class="tabletop">
            <td>
                <b>Ultimate Warfare Account Management</b>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    Welcome General <strong>{{ user.username }}</strong>
                </p>

                {% if user.active == 0 %}
                    <a href="{{ path('Game/Banned') }}">You are banned!</a>
                    <br /><small>Contact a mod here to unban yourself.</small>
                {% else %}
                    {% for player in user.players %}
                    <a href="{{ path('Game/Login/Player', {'playerId': player.id}) }}"><img src="{{ asset('images/button/b_a_play.jpg') }}" alt="Click here to play." height="150" width="150" /></a><br />
                    <a class="B" href="{{ path('Game/Login/Player', {'playerId': player.id}) }}">You are playing in {{ player.world.name }} as {{ player.name }}!</a><br />
                    {% endfor %}
                {% endif %}

                <br />
                <a href="{{ path('Game/SelectWorld') }}"><img src="{{ asset('images/button/b_a_join.jpg') }}" alt="Click here to join another world." height="150" width="150" /></a>
                <a href="{{ path('Game/Story/Chapter1', {'page': 1}) }}"><img src="{{ asset('images/button/b_a_story.jpg') }}" alt="Click here to view The Story." height="150" width="150" /></a>
                {% if uw_forum_enabled == true %}
                    <a href="{{ path('Forum') }}"><img src="{{ asset('images/button/b_a_forum.jpg') }}" alt="Talk with other members about the game, and share your tactics here." height="150" width="150" /></a>
                {% endif %}

                <br />
                <a href="{{ path('Game/Account/Edit') }}"><img src="{{ asset('images/button/b_settings.jpg') }}" alt="You can edit your preferences here." height="150" width="150" /></a>
                <a href="{{ path('Site/Logout') }}"><img src="{{ asset('images/button/b_logout.jpg') }}" alt="Click here to protect your account when you are away." height="150" width="150" /></a>
            </td>
        </tr>
    </table>

    {% if is_granted('ROLE_ADMIN') %}
        <p>
            <a class="btn btn-primary" href="{{ path('Admin') }}">Admin panel</a>
        </p>
    {% endif %}
{% endblock %}
