{% import "game/macros/map.html.twig" as mapMacros %}
{% extends 'game.html.twig' %}

{% block title %}Ultimate Warfare - World Map{% endblock title %}

{% block content %}
    <p class="text-center">
        <a class="B" href="{{ path('Game/World') }}">World</a> -
        <a class="B" href="{{ path('Game/World/Sector', {'sectorId': sector.id}) }}">Sector {{ sector.id }}</a> -
        <b>Country: {{ country.x }}, {{ country.y }}</b>
    </p>

    <table width="595" class="worldtable text">
        {% for y in 1..5 %}
            <tr>
                {% for x in 1..5 %}
                    {{ mapMacros.tileRegion(regions[x][y], mapSettings, player) }}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}
