{% import "game/macros/map.html.twig" as mapMacros %}
{% extends 'game.html.twig' %}

{% block title %}
    Ultimate Warfare - World Map
{% endblock title %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('css/jquery.qtip.min.css') }}" />
{% endblock stylesheets %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/jquery.qtip.3.0.3.min.js') }}"></script>
{% endblock javascripts %}

{% block content %}
    <a class="B" href="{{ path('Game/World') }}">World</a> -
    <a class="B" href="{{ path('Game/World/Sector', {'sectorId': sector.id}) }}">Sector {{ sector.id }}</a> -
    <b>Country: {{ country.x }}, {{ country.y }}</b>

    <br />
    <br />
    <table width="595" border="1" class="worldtable text">
        {% for y in 1..5 %}
            <tr>
                {% for x in 1..5 %}
                    {{ mapMacros.tileRegion(regions[x][y], mapSettings, player) }}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

    <br />
    <br />

    <script>
        $('[title!=""]').qtip();
    </script>
{% endblock %}
