{% extends 'noBarBase.html.twig' %}

{% block title %}Ultimate Warfare - Game account settings{% endblock title %}

{% block content %}
    <table class="table text-center">
        <tr>
            <td class="tabletop" colspan="2"><b>Account Settings</b> </td>
        </tr>
        <tr>
            <td width="150">Username: </td>
            <td width="450"><b>{{ user.username|escape }}</b></td>
        </tr>
        <tr>
            <td width="150">Email: </td>
            <td width="450"><b>{{ user.email|escape }}</b></td>
        </tr>
        <tr>
            <td width="150">Signup date: </td>
            <td width="450"><b>{{ user.signup|date("Y-m-d H:i:s") }}</b></td>
        </tr>
        <tr>
            <td width="150">Account Type: </td>
            <td width="450"><b>{{ userType }}</b></td>
        </tr>
        <tr>
            <td width="150">Account Status: </td>
            <td width="450">
                <b>
                    {% if user.active == 1 %}
                        <span class="good">Activated</span>
                    {% else %}
                        <span class="bad">Banned/De-activated</span>
                    {% endif %}
                </b>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="tabletop">
                <div><b>Change Password</b></div>
            </td>
        </tr>
        <tr>
            <td colspan="2">

                {{ form_start(changePasswordForm) }}
                    {{ form_row(changePasswordForm.oldPassword) }}
                    {{ form_row(changePasswordForm.plainPassword) }}
                {{ form_end(changePasswordForm) }}
            </td>
        </tr>
        <tr>
            <td class="tabletop" colspan="2"><b>Avatar Upload </b></td>
        </tr>
        <tr>
            <td colspan="2">
                Not implemented yet!
            </td>
        </tr>
        <tr>
            <td colspan="2" class="tabletop"><b>Map Design</b></td>
        </tr>
        <tr>
            <td colspan="2">
                <table class="table">
                    {% for mapDesign in mapDesigns %}
                        <tr>
                            <td>{{ mapDesign.name }}</td>
                            <td>
                                <img src="{{ asset('images/map/map7' ~ mapDesign.url) }}" alt="{{ mapDesign.name }}" width="120" height="100">
                            </td>
                            <td>
                                {% if mapDesign.id == user.mapDesign.id %}
                                    <a class="btn btn-primary disabled" href="{{ path('Game/Account/Edit/MapDesign', {'mapDesignId': mapDesign.id}) }}" role="button">Currently in use</a>
                                {% else %}
                                    <a class="btn btn-primary" href="{{ path('Game/Account/Edit/MapDesign', {'mapDesignId': mapDesign.id}) }}" role="button">Use map design</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
        <tr>
            <td class="tabletop" colspan="2"><b>Other Settings</b></td>
        </tr>
        <tr>
            <td colspan="2">
                <form class="general" action="{{ path('Game/Account/Edit') }}" method="POST">
                    <div>
                        <label for="adviser">Show Advisors:</label>
                        {% if user.adviser == 1 %}
                            <input type="checkbox" name="adviser" id="adviser" checked="checked" />
                        {% else %}
                            <input type="checkbox" name="adviser" id="adviser" />
                        {% endif %}
                    </div>
                    <input class="btn btn-primary" type="submit" name="change_settings" value="Save Settings">
                </form>
            </td>
        </tr>
    </table>

    <br />

    <a class="B" href="{{ path('Game/Account') }}">Back</a>
{% endblock %}
