{% extends 'base.html.twig' %}

{% block title %}
    Ultimate Warfare - Game account settings
{% endblock title %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('css/dd.css') }}" />
{% endblock stylesheets %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/jquery.dd.2.37.5.min.js') }}"></script>
{% endblock javascripts %}

{% block body %}

    <tr>
        <td id="container_content" align="center" class="text">
            <br />
            <br />

            {% for msg in app.flashes('success') %}
                <div class="success" id="success">
                    {{ msg }}
                </div>
            {% endfor %}

            {% for msg in app.flashes('error') %}
                <div class="error" id="error">
                    {{ msg }}
                </div>
            {% endfor %}

            <table border="1" width="600" cellspacing="0" cellpadding="0" class="table text">
                <tr>
                    <td class="tabletop" colspan="2" align="center"><b>Account Settings</b> </td>
                </tr>
                <tr>
                    <td width="150" align="center">Username: </td>
                    <td width="450" align="center"><b>{{ user.username|escape }}</b></td>
                </tr>
                <tr>
                    <td width="150" align="center">Email: </td>
                    <td width="450" align="center"><b>{{ user.email|escape }}</b></td>
                </tr>
                <tr>
                    <td width="150" align="center">Signup date: </td>
                    <td width="450" align="center"><b>{{ user.signup|date("Y-m-d H:i:s") }}</b></td>
                </tr>
                <tr>
                    <td width="150" align="center">Account Type: </td>
                    <td width="450" align="center"><b>{{ gameAccountType }}</b></td>
                </tr>
                <tr>
                    <td width="150" align="center">Account Status: </td>
                    <td width="450" align="center">
                        <b>
                            {% if user.active == 1 %}
                                <span class="good">Activated</span>
                            {% else %}
                                <span class="bad">Banned/De-activated</span>
                            {% endif %}
                        </b>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="tabletop" align="center">
                        <div><b>Change Password</b></div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <form class="general" method="post" action="{{ path('Game/Account/Edit') }}">
                            <div>
                                <label for="pass">Password:</label>
                                <input type="password" name="pass" id="pass" maxlength="32" />
                            </div>
                            <div>
                                <label for="passconfirm">Confirm Password:</label>
                                <input type="password" name="passconfirm" id="passconfirm" maxlength="32" />
                            </div>
                            <div>
                                <label for="old_pass">Old Password:</label>
                                <input type="password" name="old_pass" id="old_pass" maxlength="32" />
                            </div>
                            <div class="submit">
                                <input type="submit" name="change_pass" value="Change Password" />
                            </div>
                        </form>

                    </td>
                </tr>
                <tr>
                    <td class="tabletop" colspan="2" align="center"><b>Avatar Upload </b></td>
                </tr>
                <tr>
                    <td align="center" colspan="2">
                        Not implemented yet!
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="tabletop" align="center"><b>Map Design</b></td>
                </tr>
                <tr>
                    <td align="center" colspan="2">
                        Current mapdesign: {{ user.mapDesign.name }}<br />

                        <img src="{{ asset('images/map/map7' ~ user.mapDesign.url) }}" width="120" height="100"><br /><br />
                        <form class="general" action="{{ path('Game/Account/Edit') }}" method="post">
                        Change map to:<br />
                        <select name="map" id="map" onclick="$('#map option:selected').text();" style="width:320px;">
                            {% for mapDesign in mapDesigns %}
                                {% if mapDesign.id == user.mapDesign.id %}
                                    <option value="{{ mapDesign.id }}" title="{{ asset('images/map/map7' ~ mapDesign.url) }}" selected="selected">{{ mapDesign.name }}</option>
                                {% else %}
                                    <option value="{{ mapDesign.id }}" title="{{ asset('images/map/map7' ~ mapDesign.url) }}">{{ mapDesign.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <br />
                        <div class="submit">
                            <input type="submit" name="change_map" value="Change map design">
                        </div>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td class="tabletop" colspan="2" align="center"><b>Change Forum Name</b></td>
                </tr>
                <tr>
                    <td class="tabletop" colspan="2" align="center"><b>Other Settings</b></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <form class="general" action="{{ path('Game/Account/Edit') }}" method="POST">
                            <div>
                                <label for="adviser">Show Advisors:</label>
                                {% if user.adviser == 1 %}
                                    <input type="checkbox" name="adviser" id="adviser" checked="checked" />
                                {% else %}
                                    <input type="checkbox" name="adviser" id="adviser" />
                                {% endif %}
                            </div>
                            <div class="submit">
                                <input type="submit" name="change_settings" value="Save Settings">
                            </div>
                        </form>
                    </td>
                </tr>
            </table>

            <br />

            <a class="B" href="{{ path('Game/Account') }}">Back</a>

            <script language="javascript">
                $(document).ready(function(e) {
                    $("body select").msDropDown();
                });
            </script>
        </td>
    </tr>
{% endblock %}
