<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a class="nav-link" href="{{ path('Game/Headquarter') }}">Headquarters</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('Game/Reports') }}">Reports</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('Game/Construction') }}">Construction</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('Game/Fleets') }}">Fleets</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('Game/RegionList') }}">Regions</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('Game/Market') }}">Market</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('Game/Federation') }}">Federation</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('Game/Research') }}">Research</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('Game/World') }}">World</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('Game/Message/Inbox') }}">Messages</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('Game/Notepad') }}">Notepad</a>
    </li>
    {% if uw_forum_enabled == true %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('Forum') }}">Forum</a>
        </li>
    {% endif %}
    <li class="nav-item">
        <a class="nav-link" href="{{ path('Game/Rankings') }}">Rankings</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('Guide') }}" target="_blank">Help/FAQ</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('Game/Surrender') }}">Surrender</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('Game/Account') }}">Account Management</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('Site/Logout') }}">Log out</a>
    </li>
</ul>
