{% extends 'game.html.twig' %}

{% block title %}Ultimate Warfare - Rankings{% endblock title %}

{% block content %}
    <p class="text-center">
        Rankings by: <a class="B" href="{{ path('Game/Rankings', {'sortBy': 'netWorth'}) }}">NetWorth</a> - <a class="B" href="{{ path('Game/Rankings') }}">Regions</a>
    </p>

    <table class="table text-center">
        <tr class="tabletop">
            <td colspan="4"><b>{{ rankingsTitle }}</b></td>
        </tr>
        <tr>
            <td width="100"><b>Rank</b></td>
            <td class="text-start" width="300"><b>Player</b></td>
            <td width="150"><b>Regions</b></td>
            <td width="150"><b>NetWorth</b></td>
        </tr>
        {% for playerRanking in players %}
            <tr>
                <td width="50">{{ loop.index }}</td>
                <td class="text-start" width="200">{{ playerRanking.name }}
                    {% if playerRanking.federation != null %}
                        <i> ( {{ playerRanking.federation.name }} )</i>
                    {% endif %}
                </td>
                <td>{{ playerRanking.worldRegions|length }}</td>
                <td>{{ playerRanking.netWorth }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
