{% extends 'game.html.twig' %}
{% block content %}
    Rankings by: <a class="B" href="{{ path('Game/Rankings', {'sortBy': 'networth'}) }}">Networth</a> - <a class="B" href="{{ path('Game/Rankings') }}">Regions</a>

    <br />
    <br />

    <table width="700" border="1" align="center" class="table text">
        <tr>
            <td class="tabletop" colspan="4" align="center"><b>{{ rankingsTitle }}</b></td>
        </tr>
        <tr>
            <td width="100" align="center"><b>Rank</b></td>
            <td width="300" align="left"><b>Player</b></td>
            <td width="150" align="center"><b>Regions</b></td>
            <td width="150" align="center"><b>Networth</b></td>
        </tr>
        {% for player in players %}
            <tr>
                <td width="50" align="center">{{ loop.index }}</td>
                <td width="200" align="left">{{ player.name|escape }}
                    {% if player.federation != null %}
                        <i> ( {{ player.federation.name }} )</i>
                    {% endif %}
                </td>
                <td align="center">{{ player.regions }}</td>
                <td align="center">{{ player.networth }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
