{% extends 'game.html.twig' %}

{% block title %}Ultimate Warfare - Region List{% endblock title %}

{% block content %}
    <table width="700" class="table text text-center">
        <tr>
            <td class="tabletop" colspan="3"><b>Regions</b></td>
        </tr>
        {% for region in regions %}
            <tr>
                <td width="120">
                    <img src="{{ asset('images/map/' ~ region.image ~ mapUrl) }}" width="120" height="100">
                </td>
                <td class="text-left" width="370">
                    <ul>
                        <li>Position: {{ region.x }}, {{ region.y }}: {{ region.region }}</li>
                        <li>Built: {{ region.buildings }}
                            {% if region.buildingsInConstruction > 0 %}
                                ( {{ region.buildingsInConstruction }} )
                            {% endif %}
                            / {{ region.space }}
                        </li>
                        <li>Population: {{ region.population }} / {{ region.population * 500 }}
                        <li>Click <a class="B" href="{{ path('Game/World/Region', {'regionId': region.id}) }}">here</a> to go to this region.</li>
                        <li>Quick Links:
                            <a class="B" href="{{ path('Game/World/Region/Build', {'regionId': region.id, 'gameUnitTypeId': 1}) }}">Build</a> -
                            <a class="B" href="{{ path('Game/World/Region/Build', {'regionId': region.id, 'gameUnitTypeId': 4}) }}">Build Units</a>
                        </li>
                    </ul>
                </td>
                <td class="text-left" width="210">
                    {% for unit in region.worldRegionUnits %}
                        {{ unit.gameUnit.name }}: {{ unit.amount }}
                        <br />
                    {% else %}
                        No units stationed here!
                    {% endfor %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">You have to buy a region on the map first!</td>
            </tr>
        {% endfor %}
    </table>
    <br />
    <br />
{% endblock %}
