{% extends 'game.html.twig' %}

{% block title %}Ultimate Warfare - Reports{% endblock title %}

{% block content %}
    <p class="text-center">
        <a class="B" href="{{ path('Game/Reports') }}">All Reports</a> -
        <a class="B" href="{{ path('Game/Reports', {'type': 1}) }}">Battle Reports</a> -
        <a class="B" href="{{ path('Game/Reports', {'type': 2}) }}">General Reports</a> -
        <a class="B" href="{{ path('Game/Reports', {'type': 4}) }}">Market Reports</a> -
        <a class="B" href="{{ path('Game/Reports', {'type': 5}) }}">Aid Reports</a>
    </p>

    <table class="table text-center">
        <tr class="tabletop">
            <td colspan="2"><b>{{ reportSubject }}</b></td>
        </tr>
        <tr>
            <td width="150"><b>Date</b></td>
            <td class="text-start" width="550"><b>Report</b></td>
        </tr>
        {% for report in reports %}
            <tr>
                <td>
                    {{ report.timestamp|date }}
                </td>
                <td class="text-start">
                    {{ report.report }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">No reports for you....</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
