{% extends 'game.html.twig' %}

{% block title %}Ultimate Warfare - Research History{% endblock title %}

{% block content %}
    <p class="text-center">
        <a class="B" href="{{ path('Game/Research') }}">Research</a>
    </p>

    <table class="table text-center">
        <tr>
            <td class="tabletop" colspan="2"><b>Research History</b></td>
        </tr>
        {% for research in finishedResearch %}
            <tr>
                <td width="150">
                    <img src="{{ asset('images/research/' ~ research.pic ) }}" alt="{{ research.name }}" width="150" height="130">
                </td>
                <td class="text-left" width="550">
                    <div><b>Name:</b> {{ research.nam }}</div>
                    <div><b>Finished at:</b> {{ research.timestamp|date }}</div>
                    <div>{{ research.description }}</div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">You have not researched anything.</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
