{% extends 'game.html.twig' %}

{% block title %}Ultimate Warfare - Research History{% endblock title %}

{% block content %}
    <p class="text-center">
        <a class="B" href="{{ path('Game/Research') }}">Research</a>
    </p>

    <table class="table text-center">
        <tr class="tabletop">
            <td colspan="2"><b>Research History</b></td>
        </tr>
        {% for researchPlayer in finishedResearch %}
            <tr>
                <td width="150">
                    <img src="{{ asset('images/research/' ~ researchPlayer.research.image ) }}" alt="{{ researchPlayer.research.name }}" width="150" height="130">
                </td>
                <td class="text-start" width="550">
                    <div><b>Name:</b> {{ researchPlayer.research.name }}</div>
                    <div><b>Finished at:</b> {{ researchPlayer.timestamp|date("m/d/Y H:i:s") }}</div>
                    <div>{{ researchPlayer.research.description }}</div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">You have not researched anything.</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
