<p class="text-center">
    <img src="{{ asset('images/icons/resource_cash.jpg') }}" width="25" height="25" alt="Cash" /> <b>{{ player.resources.cash|number_format }}</b> ( {{ player.income.cash - player.upkeep.cash }}/h ) -
    <img src="{{ asset('images/icons/resource_food.jpg') }}" width="25" height="25" alt="Food" /> <b>{{ player.resources.food|number_format }}</b> ( {{ player.income.food - player.upkeep.food }}/h ) -
    <img src="{{ asset('images/icons/resource_wood.jpg') }}" width="25" height="25" alt="Wood" /> <b>{{ player.resources.wood|number_format }}</b> ( {{ player.income.wood - player.upkeep.wood }}/h ) -
    <img src="{{ asset('images/icons/resource_steel.jpg') }}" width="25" height="25" alt="Steel" /> <b>{{ player.resources.steel|number_format }}</b> ( {{ player.income.steel - player.upkeep.steel }}/h )
</p>

{% if player.notifications.attacked != 0 %}
    <div class="alert alert-danger" role="alert">
        <a class="B" href="{{ path('Game/Reports', {'type': 1}) }}"><b>You are under attack!</b></a>
    </div>
{% endif %}

{% if player.notifications.general != 0 %}
    <div class="alert alert-warning" role="alert">
        <a class="B" href="{{ path('Game/Reports', {'type': 2}) }}"><b>General Report!</b></a>
    </div>
{% endif %}

{% if player.notifications.message != 0 %}
    <div class="alert alert-warning" role="alert">
        <a class="B" href="{{ path('Game/Message/Inbox') }}"><b>You have new message(s).</b></a>
    </div>
{% endif %}

{% if player.notifications.aid != 0 %}
    <div class="alert alert-warning" role="alert">
        <a class="B" href="{{ path('Game/Reports', {'type': 5}) }}"><b>You received aid!</b></a>
    </div>
{% endif %}

{% if player.notifications.market != 0 %}
    <div class="alert alert-warning" role="alert">
        <a class="B" href="{{ path('Game/Reports', {'type': 4}) }}"><b>You sold/bought something on the market!</b></a>
    </div>
{% endif %}
