{% extends 'noBarBase.html.twig' %}

{% block title %}Ultimate Warfare - Pick your name{% endblock title %}

{% block content %}
    <form action="{{ path('Game/StartWorld', {'worldId': world.id}) }}" method="POST">
        <table border="1" width="700" cellspacing="0" cellpadding="0" align="center" class="table text">
            <tr>
                <td class="tabletop"><b>Select your Name</b></td>
            </tr>
            <tr>
                <td align="center">
                    <div>
                        <label for="name">Name:</label>
                        <input type="text" id="name" name="name" size="12"/>
                    </div>
                    <input class="btn btn-primary" type="submit" name="submit" value="Play">
                </td>
            </tr>
        </table>
        <br />
        <br />

        <table border="1" cellspacing="0" cellpadding="0" align="center" class="table text">
            <tr>
                <td width="400">
                    <b>{{ world.name|escape }}</b><br />
                    <img src="{{ asset(world.image) }}" width="400" height="255">
                </td>
                <td width="300">
                    <b>Max players:</b> {{ world.maxplayers|escape }}<br /><br />
                    <b>Info:</b><br />
                    {{ world.info|escape }}<br /><br />
                    <b>At start:</b><br />
                    Cash: {{ world.cash|escape }}<br />
                    Wood: {{ world.wood|escape }}<br />
                    Steel: {{ world.steel|escape }}<br />
                    Food: {{ world.food|escape }}<br /><br />
                </td>
            </tr>
        </table>
    </form>
{% endblock %}
