{% extends 'noBarBase.html.twig' %}

{% block title %}Ultimate Warfare - Select World{% endblock title %}

{% block content %}
    <table class="table text-center">
        <tr>
            <td class="tabletop"><b>Select your World</b></td>
        </tr>
        <tr>
            <td>
                <p>
                    Welcome <strong>{{ user.username }}</strong>
                </p>
                <p>
                    On this page you will see a list of all "game worlds", select the world you would like to play here!<br>
                    You are able to play in multiple worlds at the same time on 1 account!<br />
                    <b>BUT</b> you are not allowed to create multiple accounts to play in 1 world!
                </p>
            </td>
        </tr>
    </table>
    <br /><br />

    {% for world in worlds %}
        <table class="table">
            <tr>
                <td width="400">
                    <b>{{ world.name }}</b><br />
                    <img src="{{ asset(world.image) }}" alt="{{ world.name }}" width="400" height="255">
                </td>
                <td width="300">
                    <b>Max players:</b> {{ world.maxplayers }}<br /><br />
                    <b>Info:</b><br />
                    {{ world.description }}<br /><br />
                    <b>At start:</b><br />
                    Cash: {{ world.resources.cash }}<br />
                    Wood: {{ world.resources.wood }}<br />
                    Steel: {{ world.resources.steel }}<br />
                    Food: {{ world.resources.food }}<br /><br />
                    <a class="btn btn-primary" href="{{ path('Game/SelectName', {'worldId': world.id}) }}"><b>Play this World</b></a>
                </td>
            </tr>
        </table>
    {% endfor %}
{% endblock %}
