{% extends 'noBarBase.html.twig' %}

{% block title %}Ultimate Warfare - Pick your name{% endblock title %}

{% block content %}
    <form action="{{ path('Game/StartWorld', {'worldId': world.id}) }}" method="POST">
        <table class="table text-center">
            <tr>
                <td class="tabletop"><b>Select your Name</b></td>
            </tr>
            <tr>
                <td>
                    <div>
                        <label for="name">Name:</label>
                        <input type="text" id="name" name="name" size="12"/>
                    </div>
                    <input class="btn btn-primary" type="submit" name="submit" value="Play">
                </td>
            </tr>
        </table>
        <br />
        <br />

        <table class="table">
            <tr>
                <td width="400">
                    <b>{{ world.name }}</b><br />
                    <img src="{{ asset(world.image) }}" alt="{{ world.name }}" width="400" height="255">
                </td>
                <td width="300">
                    <b>Max players:</b> {{ world.maxplayers }}<br /><br />
                    <b>Info:</b><br />
                    {{ world.info }}<br /><br />
                    <b>At start:</b><br />
                    Cash: {{ world.cash }}<br />
                    Wood: {{ world.wood }}<br />
                    Steel: {{ world.steel }}<br />
                    Food: {{ world.food }}<br /><br />
                </td>
            </tr>
        </table>
    </form>
{% endblock %}
