{% import "game/macros/map.html.twig" as mapMacros %}
{% extends 'game.html.twig' %}

{% block title %}Ultimate Warfare - World Map{% endblock title %}

{% block content %}
    {% if not mapSettings.searchFound %}
        <table class="table text-center">
            <tr>
                <td>
                    <p>
                        No such Player found!
                    </p>
                </td>
            </tr>
        </table>
    {% endif %}

    {% if mapSettings.searchFree %}
        <table class="table text-center">
            <tr>
                <td>
                    <p>
                        You are searching for free regions <a class="B" href="{{ path('Game/World') }}">[Cancel Search]</a>
                    </p>
                </td>
            </tr>
        </table>
        <br />
    {% endif %}

    {% if mapSettings.searchPlayerName %}
        <table class="table text-center">
            <tr>
                <td>
                    <p>
                        You are searching for player {{ mapSettings.playerName }} <a class="B" href="{{ path('Game/World') }}">[Cancel Search]</a>
                    </p>
                </td>
            </tr>
        </table>
        <br />
    {% endif %}

    <table class="worldtable text-center">
        <tr>
            <td width="15">x</td>
            <td width="125">1 - 5</td>
            <td width="125">6 - 10</td>
            <td width="125">11 - 15</td>
            <td width="125">16 - 20</td>
            <td width="125">21 - 25</td>
        </tr>
        {% for y in 1..5 %}
            <tr>
                <td>
                    {{ loop.index * 5 - 4 }}<br />
                    |<br />
                    {{ loop.index * 5 }}
                </td>
                {% for x in 1..5 %}
                    {{ mapMacros.tileSector(sectors[x][y], mapSettings) }}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

    <br />
    <br />

    <form method="post" action="{{ path('Game/World/Search/Player') }}">
        <table class="table text-center">
            <tr>
                <td class="tabletop" width="250"><b>UW Player Finder</b></td>
            </tr>
            <tr>
                <td width="100">
                    <div>
                        <label for="playerName">Player name</label>
                        <input type="text" id="playerName" name="playerName" size="20" />
                    </div>
                    <input class="btn btn-primary" type="submit" name="submit" value="Search" />
                </td>
            </tr>
            <tr>
                <td>OR <br />
                    <a class="B" href="{{ path('Game/World/Search/Free') }}">Show free regions</a>
                </td>
            </tr>
        </table>
    </form>
{% endblock %}
