{% extends 'site/guideBase.html.twig' %}

{% block content %}
    <table class="table text text-center">
        <tr class="tabletop">
            <td colspan="2"><b>{{ gameUnit.name }}</b></td>
        </tr>
        <tr>
            <td class="text-left" width="350">
                {{ gameUnit.description }}<br /><br />
                Cash: {{ gameUnit.priceCash }}<br />
                Wood: {{ gameUnit.priceWood }}<br />
                Steel: {{ gameUnit.priceSteel }}<br />
                Food: {{ gameUnit.priceFood }}<br />
                Networth: {{ gameUnit.networth }}<br />
                Building time: {{ gameUnit.timestamp }}<br />
            </td>
            <td width="350">
                <img src="{{ asset('images/' ~ gameUnit.gameUnitType.imageDir ~ gameUnit.image) }}" width="150" height="130">
            </td>
        </tr>
        <tr>
            <td class="text-left" width="350">
                <b>Income:</b><br />
                Cash: {{ gameUnit.incomeCash }}<br />
                Wood: {{ gameUnit.incomeWood }}<br />
                Steel: {{ gameUnit.incomeSteel }}<br />
                Food: {{ gameUnit.incomeFood }}<br />
            </td>
            <td class="text-left" width="350">
                <b>Upkeep:</b><br />
                Cash: {{ gameUnit.upkeepCash }}<br />
                Wood: {{ gameUnit.upkeepWood }}<br />
                Steel: {{ gameUnit.upkeepSteel }}<br />
                Food: {{ gameUnit.upkeepFood }}<br />
            </td>
        </tr>
    </table>
{% endblock %}
