{% extends 'site/guideBase.html.twig' %}

{% block content %}
    <table class="table text-center">
        <tr class="tabletop">
            <td colspan="2"><b>{{ gameUnit.name }}</b></td>
        </tr>
        <tr>
            <td class="text-start" width="350">
                {{ gameUnit.description }}<br /><br />
                Cash: {{ gameUnit.cost.cash }}<br />
                Wood: {{ gameUnit.cost.wood }}<br />
                Steel: {{ gameUnit.cost.steel }}<br />
                Food: {{ gameUnit.cost.food }}<br />
                Networth: {{ gameUnit.networth }}<br />
                Building time: {{ gameUnit.timestamp }}<br />
            </td>
            <td width="350">
                <img src="{{ asset('images/' ~ gameUnit.gameUnitType.imageDir ~ gameUnit.image) }}" alt="{{ gameUnit.name }}" width="150" height="130">
            </td>
        </tr>
        <tr>
            <td class="text-start" width="350">
                <b>Income:</b><br />
                Cash: {{ gameUnit.income.cash }}<br />
                Wood: {{ gameUnit.income.wood }}<br />
                Steel: {{ gameUnit.income.steel }}<br />
                Food: {{ gameUnit.income.food }}<br />
            </td>
            <td class="text-start" width="350">
                <b>Upkeep:</b><br />
                Cash: {{ gameUnit.upkeep.cash }}<br />
                Wood: {{ gameUnit.upkeep.wood }}<br />
                Steel: {{ gameUnit.upkeep.steel }}<br />
                Food: {{ gameUnit.upkeep.food }}<br />
            </td>
        </tr>
    </table>
{% endblock %}
