{% extends 'site/guideBase.html.twig' %}

{% block content %}
    <table class="table text-center">
        <tr class="tabletop">
            <td colspan="2"><b>Operations</b></td>
        </tr>
        {% for operation in operations %}
            <tr>
                <td width="150"><img src="{{ asset('images/operations/' ~ operation.image) }}" alt="{{ operation.name }}" width="150" height="130"></td>
                <td class="text-start" width="450">
                    {{ operation.description }}
                    <ul>
                        <li>Name: {{ operation.name }}</li>
                        <li>Cash: {{ operation.cost }}</li>
                        <li>Research requirement: {{ operation.research.name }}</li>
                        <li>Difficulty: {{ operation.difficulty }}</li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
