{% extends 'site/guideBase.html.twig' %}

{% block content %}
    <table class="table text-center">
        <tr class="tabletop">
            <td colspan="2"><b>Research</b></td>
        </tr>
        {% for research in researches %}
            <tr>
                <td width="150"><img src="{{ asset('images/research/' ~ research.image) }}" alt="{{ research.name }}" width="150" height="130"></td>

                <td class="text-start" width="450">
                    {{ research.description }}<br /><br />
                    Name: {{ research.name }}<br />
                    Cash: {{ research.cost }}<br />
                    Research time: {{ research.timestamp }}<br /><br />

                    <b>Requirements:</b><br />

                    {% for researchNeeds in research.researchNeeds %}
                        - {{ researchNeeds.requiredResearch.name }}<br />
                    {% endfor %}
                </td>
        {% endfor %}
    </table>
{% endblock %}
