
            <a class="A" href="{{ url('Guide') }}">Guide</a><br /><br />

            <a class="A" href="{{ url('Guide/Rules') }}">Rules</a><br /><br />

            <a class="A" href="{{ url('Guide/Headquarter') }}">Headquarter</a><br />
            <a class="A" href="{{ url('Guide/Mission') }}">Missions</a><br />
            <a class="A" href="{{ url('Guide/Report') }}">Reports</a><br />
            <a class="A" href="{{ url('Guide/Construction') }}">Construction</a><br />
            <a class="A" href="{{ url('Guide/Fleet') }}">Fleets</a><br />
            <a class="A" href="{{ url('Guide/Region') }}">Regions</a><br />
            <a class="A" href="{{ url('Guide/Market') }}">Market</a><br />
            <a class="A" href="{{ url('Guide/Federation') }}">Federation</a><br />
            <a class="A" href="{{ url('Guide/Research') }}">Research</a><br />
            <a class="A" href="{{ url('Guide/World') }}">World</a><br />
            <a class="A" href="{{ url('Guide/Ranking') }}">Rankings</a><br />
            <a class="A" href="{{ url('Guide/Surrender') }}">Surrender</a><br />
            <a class="A" href="{{ url('Guide/LogOff') }}">Log Out</a><br /><br />

            <a class="A" href="{{ url('Guide/Attack') }}">Attack!</a><br /><br />

            <font color="#ffffff">Information:</font><br />
            <a class="A" href="{{ url('Guide/ListUnits') }}">Game Units</a><br />
            <a class="A" href="{{ url('Guide/ListResearch') }}">Research</a><br />
            <a class="A" href="{{ url('Guide/ListOperations') }}">Operations</a><br />
            <br /><br />

            <a class="A" href="{{ url('Site/Homepage') }}">Back to Home Page</a><br /><br />

