<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a class="nav-link" href="{{ url('Guide') }}">Guide</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url('Guide/Rules') }}">Rules</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url('Guide/Headquarter') }}">Headquarter</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url('Guide/Mission') }}">Missions</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url('Guide/Report') }}">Reports</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url('Guide/Construction') }}">Construction</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url('Guide/Fleet') }}">Fleets</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url('Guide/Region') }}">Regions</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url('Guide/Market') }}">Market</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url('Guide/Federation') }}">Federation</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url('Guide/Research') }}">Research</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url('Guide/World') }}">World</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url('Guide/Ranking') }}">Rankings</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url('Guide/Surrender') }}">Surrender</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url('Guide/LogOff') }}">Log out</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url('Guide/Attack') }}">Attack!</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url('Guide/ListUnits') }}">Game Units</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url('Guide/ListResearch') }}">Research</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url('Guide/ListOperations') }}">Operations</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url('Site/Homepage') }}">Back to Home Page</a>
    </li>
</ul>
