{% extends 'site/guideBase.html.twig' %}
{% block content %}
    <table width="360" class="worldtable text-center">
        <tr>
            <td width="15">x</td>
            <td width="119">1</td>
            <td width="119">2</td>
            <td width="119">3</td>
        </tr>
        <tr>
            <td width="15">1</td>
            <td width="119" height="103" background="{{ asset('images/map/map15-3.jpg') }}" valign="top"><br /><a href="{{ url('Guide/World') }}"><span style="color:gold"><b>Building<br />You</b></span></a></td>
            <td width="119" height="103" background="{{ asset('images/map/map8-3.jpg') }}" valign="top"><br /><a class="A" href="{{ url('Guide/World') }}">Attack<br />DEFENDER</a></td>
            <td width="119" height="103" background="{{ asset('images/map/map8-3.jpg') }}" valign="top"><br /><a class="A" href="{{ url('Guide/World') }}">Buy</a></td>
        </tr>
        <tr>
            <td width="15">2</td>
            <td width="119" height="103" background="{{ asset('images/map/map6-3.jpg') }}" valign="top"><br /><a href="{{ url('Guide/World') }}"><span style="color:gold"><b>Building<br />You</b></span></a></td>
            <td width="119" height="103" background="{{ asset('images/map/map18-3.jpg') }}" valign="top"><br /><a class="A" href="{{ url('Guide/World') }}">Attack<br />DEFENDER</a></td>
            <td width="119" height="103" background="{{ asset('images/map/map18-3.jpg') }}" valign="top"><br /><a class="A" href="{{ url('Guide/World') }}">Attack<br />DEFENDER</a></td>
        </tr>
        <tr>
            <td width="15">3</td>
            <td width="119" height="103" background="{{ asset('images/map/map6-3.jpg') }}" valign="top"><br /><a href="{{ url('Guide/World') }}"><span style="color:gold"><b>Building<br />You</b></span></a></td>
            <td width="119" height="103" background="{{ asset('images/map/map18-3.jpg') }}" valign="top"><br /><a class="A" href="{{ url('Guide/World') }}">Attack<br />DEFENDER</a></td>
            <td width="119" height="103" background="{{ asset('images/map/map18-3.jpg') }}" valign="top"><br /><a class="A" href="{{ url('Guide/World') }}">Buy</a></td>
        </tr>
    </table>

    <br />
    <br />

    <table class="table text-left">
        <tr>
            <td>
                <p>
                    This is the world map, The size of the maps depends on what world you are playing!
                </p>
                <ul>
                    <li>
                        <b>Attack:</b> If this link is visible, then this region is owned by an enemy.
                    </li>
                    <li>
                        <b>Building:</b> If this link is visible, then this region is owned by you, you can click on it to start building on it.
                    </li>
                    <li>
                        <b>Buy:</b> If this link is visible, then this region has no owner yet. You can buy this region to expand your empire.
                    </li>
                </ul>
            </td>
        </tr>
    </table>
{% endblock %}
