{% extends 'game.html.twig' %}

{% block title %}Ultimate Warfare - Market{% endblock title %}

{% block content %}
    <p class="text-center">
        <a class="B" href="{{ path('Game/Market') }}">Buy</a> -
        <a class="B" href="{{ path('Game/Market/Sell') }}">Sell</a> -
        <a class="B" href="{{ path('Game/Market/PlaceOffer') }}">Place offer</a> -
        <a class="B" href="{{ path('Game/Market/Offers') }}">Your offers</a>
    </p>

    <table class="table text-center">
        <tr>
            <td class="tabletop" colspan="5"><b>Buy</b></td>
        </tr>
        <tr>
            <td><b>Resource</b></td>
            <td><b>Amount</b></td>
            <td><b>Price</b></td>
            <td><b>Player</b></td>
            <td><b>Buy</b></td>
        </tr>
        {% for item in marketItems %}
            <tr>
                <td>{{ item.gameResource }}</td>
                <td>{{ item.amount }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.player.name }}</td>
                <td><a class="B" href="{{ path('Game/Market/Buy/Order', {'marketItemId': item.id}) }}"><b>Buy</b></a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">No sell offers....</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
