{% extends 'game.html.twig' %}
{% block content %}
    <a class="B" href="{{ path('Game/Market') }}">Buy</a> - <a class="B" href="{{ path('Game/Market/Sell') }}">Sell</a> - <a class="B" href="{{ path('Game/Market/PlaceOffer') }}">Place offer</a> - <a class="B" href="{{ path('Game/Market/Offers') }}">Your offers</a>

    <br />
    <br />

    <table width="700" border="1" cellspacing="0" cellpadding="0" class="table text">
        <tr>
            <td class="tabletop" colspan="2" align="center"><b>Place offer</b></td>
        </tr>
        <form method="post" action="{{ path('Game/Market/PlaceOffer') }}">
            <tr>
                <td>I would like to:</td>
                <td>
                    <select name="option">
                        <option value="buy">Buy</option>
                        <option value="sell">Sell</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Amount:</td>
                <td>
                    <input type="text" size="15" name="amount" />
                </td>
            </tr>
            <tr>
                <td>Resource:</td>
                <td>
                    <select name="resource">
                        {% for item in gameResources %}
                            <option value="{{ item.id }}">{{ item.name }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>Price:</td>
                <td>
                    <input type="text" size="12" name="price" />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input class="btn btn-primary" type="submit" value="Place Offer" />
                </td>
            </tr>
        </form>
    </table>
{% endblock %}
