<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="description" content="Ultimate Warfare is a free browser based multiplayer strategy game with over 2000 registered accounts. Join the battle and compete with thousands of others for world domination!" />
        <meta name="keywords" content="Ultimate Warfare, online, game, war, multiplayer, strategy, wargames, role-playing, rpg, browser game, battles, domination, world map" />
        <meta name="author" content="Frank Schreuder" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}Ultimate Warfare - Online multiplayer strategy game{% endblock %}</title>
        <link rel="stylesheet" type="text/css" media="all" href="{{ asset('css/bootstrap.min.css') }}" >
        <link rel="stylesheet" type="text/css" media="all" href="{{ asset('css/main.css') }}" />
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script src="{{ asset('js/popper.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </head>
    <body>
        <div class="container border border-primary">
            <div class="row">
                <img src="{{ asset('images/banner.jpg') }}" class="img-fluid g-0" alt="Ultimate Warfare Online multiplayer Text-based game" />
            </div>
            <div class="row">
                {% block body %}{% endblock %}
            </div>
            <div class="row">
                <hr />
            </div>
            <div class="row justify-content-center">
                <p class="text-center">
                    <a class="B" href="{{ path('Site/About') }}" title="Ultimate Warfare - About">About</a> -
                    <a class="B" href="{{ path('Site/Contact') }}" title="Ultimate Warfare - Contact">Contact</a> -
                    <a class="B" href="{{ path('Site/Community') }}" title="Ultimate Warfare - Community">Community</a>
                </p>
            </div>
            <div class="row justify-content-center">
                <p class="text-center">
                    copyright &copy; 2006 - 2023 ultimate-warfare.com
                </p>
            </div>
        </div>
    </body>
</html>
