{% extends 'forumBase.html.twig' %}

{% block title %}Ultimate Warfare - Forum{% endblock title %}

{% block content %}
    <table class="table text text-center">
        <tr class="tabletop">
            <td width="20"><strong>#</strong></td>
            <td class="text-left" width="480"><strong>The Forums</strong></td>
            <td width="100"><strong>Topics</strong></td>
            <td class="text-left" width="300"><strong>Last topic</strong></td>
        </tr>

        {% for category in categories %}
            {% set lastTopic = category.topics|last %}
            <tr>
                <td>{{ category.id }}</td>
                <td class="text-left"><a class="B" href="{{ path('Forum/Category', {'categoryId': category.id}) }}">{{ category.title|escape }}</a></td>
                <td>{{ category.topics|length }}</td>
                {% if lastTopic == null %}
                    <td class="text-left">No topics yet</td>
                {% else %}
                    <td class="text-left">{{ lastTopic.createDateTime|date("Y-m-d H:i:s") }} by {{ lastTopic.user.username|escape }}</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}
