{% extends 'forumBase.html.twig' %}
{% block content %}
    {% trans_default_domain 'forum' %}

    <div class="text-center">
        <a class="B" href="{{ path('Forum') }}">{{ 'label.forum'|trans }}</a> -
        <a class="B" href="{{ path('Forum/Category', {'categoryId': topic.category.id}) }}">{{ 'label.topics'|trans }}</a>
    </div>

    {{ form_start(form) }}
    <table class="table text-center">
        <tr class="tabletop">
            <td colspan="2">
                <b>{{ 'action.topic.create'|trans }}</b>
            </td>
        </tr>
        <tr>
            <td>
                {{ 'label.title'|trans }}
            </td>
            <td>
                {{ form_widget(form.title) }}
            </td>
        </tr>
        <tr>
            <td colspan="2">
                {{ form_widget(form.content) }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form_label(form.sticky) }}
            </td>
            <td>
                {{ form_widget(form.sticky) }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form_label(form.closed) }}
            </td>
            <td>
                {{ form_widget(form.closed) }}
            </td>
        </tr>
        <tr>
            <td colspan="2">
                {{ form_row(form.submit) }}
            </td>
        </tr>
    </table>
    {{ form_end(form) }}
{% endblock %}
